body{
  font-family: 'Raleway', sans-serif;
  background-color: #fafafa;
  color: #334;
  padding: 0;
  margin: 0;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.header{
  font-size: 24px;

  background-color: #000;
  color: #fafafa;

  padding: 15px 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header div{
  display: flex;
  height: 2.5vw;
  min-height: 20px;
  max-height: 35px;
}
.header .right{
  align-items: end;
  justify-content: end;
}

/* logos */
.header div img{
  display: inline-block;
  height: 100%;
}

.header .left img:nth-child(2){
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid rgba(255,255,255,0.5);
}

.wrapper{
  font-size: 12px;
  padding: 10px 30px;
}

.item{
  margin: 10px 0 0 0;
}

.item .label{
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccb;
  margin-bottom: 10px;
}

.button-holder{
  margin-bottom: 20px;
}

.button-holder a{
  display: inline-block;
  margin-right: 5px;
}

.button,
button{
  display: inline-block;
  padding: 5px 10px;
  background-color: #352;
  color: #fafafa;
  text-decoration: none;
  outline: 0;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.button.back{
  background-color: #594;
}

.banner{
  display: inline-block;
  margin: 0 20px 20px 0;
}

.banner iframe{
  outline: 0;
  border: 0;
}

.banner button{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10;
  font-weight: bold;
  background-color: #334;
  padding: 3px 15px;
  margin: 5px 8px 0 0;
  display: inline-block;
}

.video-container{
  background-color: #000;
}