.banner {
    background: #000;
    color: white;
}


/* == SCENE / BACKGROUND ======================================== */
.sprite {
    position: absolute;
    background-repeat: no-repeat;
}

.copy{
    font-weight: bold;
    position: absolute;
    top: 17px;
    left: 13px;
    font-size: 33px;
    color: white;
    line-height: 1;
    letter-spacing: 0em;
    text-shadow: 0 2px 15px rgba(0,0,0,0.99);
}

.copy .line{
    /* display: inline-block; */
}

.car-image{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
}

.cta-holder{
    top: 128px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    width: 100%;
}

.cta{
    border: 1px solid;
    background-color: #3aae29;
    border-color: #3aae29;
    font-size: 13px;
    border-radius: 5px;
    font-family: "Agenda";
    text-transform: uppercase;
    padding: 9px 14px 8.5px 14px;
    color: white;
    text-align: center;
    transition: background-color 0.25s ease-out, border-color 0.25s ease-out;    
}
.cta.over{
    background-color: rgba(0,0,0,0.5);
    border-color: #fff;
}

/* replay */
.fade{
    /* background-image: url(car.jpg); */
    background-color: #000;
    background-size: contain;
}



/* PLATE STYLES --- */
.scene .plate{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* shadow over plate */
.scene .plate-mask::after{
    position: absolute;
    width: 102%;
    height: 102%;
    content: "";
    top: -1%;
    left: -1%;
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 40%);
}

.scene .plate-mask{
    position: absolute;
    transform-origin: 50% 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
}

/* size 16 */
.banner.ultra-tall .scene .plate-mask{
    width: calc(360px * 0.33);
    height: calc(180px * 0.33);
    top: 80% !important;
}
/* size 14 */
.banner.ultra-slim .scene .plate-mask{
    width: calc(360px * 0.33);
    height: calc(92px * 0.33);
    top: 71.5% !important;
}

/* size 13 */
.banner.european .scene .plate-mask{
    width: calc(520px * 0.4);
    height: calc(112px * 0.4);
    top: 73% !important;
}
/* size 2 */
.banner.european.slim .scene .plate-mask{
    width: calc(360px * 0.4);
    height: calc(100px * 0.4);
    top: 72% !important;
}

  /* size 4 */
.banner.standard .scene .plate-mask{
    width: calc(360px * 0.33);
    height: calc(125px * 0.33);
    top: 74% !important
}
/* size 2 */
.banner.slim .scene .plate-mask{
    width: calc(360px * 0.33);
    height: calc(100px * 0.33);
    top: 72.5% !important;
}
/* size 1 */
.banner.tall .scene .plate-mask{
    width: calc(360px * 0.33);
    height: calc(155px * 0.33);
    top: 76.5% !important;
}